---
import style from '../../styles/alert.module.css';

const { type, align, title } = Astro.props;
---
    <div class={`${style.alert} ${style[type]} ${style[align]}`}>
      <div class={style.title}>{title}</div>
      <div class={style.content}>

        <slot />
        
      </div>  
    </div>
