---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import style from "@styles/archive.module.css";
import Entry from "@components/Entry.astro";
import { readingTime } from "@lib/utils";
import NewsletterForm from '@components/custom/NewsletterForm.astro'

const data = (await getCollection("notes"))
    .filter((article) => !article.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

---

<Layout
    title={`Notes`}
    path="/notes/"
    description="Rants, inspiration, thoughts, and other things you should find in a blog."
>
    <main class={style.main}>
        <div class={style.title}>
            <h1 class={style.heading}>
                <span>Notes</span>
            </h1>
        </div>

        <div class={style.content}>
            <p>
                Rants, inspiration, thoughts, and other things you should find in a blog.
            </p>

            <ul>
                {
                    data.map((node) => (
                            <Entry 
                                title = {node.data.title}
                                date = {node.data.date.toString()}
                                path = { '/' + node.collection + '/' + node.slug}
                                timeToRead = {readingTime(node.body)}
                                excerpt = {node.data.excerpt}
                                tags = {node.data.tags}
                            />
                    ))
                }
            </ul>
          <!--TBD add NL form -->
        <NewsletterForm /> 
        </div>
        
    </main>
</Layout>
