---
import Layout from "@layouts/Layout.astro";
import style from '../styles/archive.module.css'
import site from '../config/site'

// import StringSimilarity from 'string-similarity'

  // const pages = data.allSitePage.nodes.map(({ path }) => path)
  // const pathname = location.pathname
  // const result = StringSimilarity.findBestMatch(pathname, pages).bestMatch
  
  // function renderContent() {
  //   return result.rating > 0.6 ? (
  //     <>
  //       <h1 className={style.heading}>
  //         <span>
  //           You were probably looking for{' '}
  //           <a href={result.target} className="is-special-blue">
  //             {result.target}
  //           </a>
  //         </span>
  //       </h1>
  //       <h3 className={style.intro}>
  //         Not the Pokemon you're after? <br />
  //         <a href="/">Go back home</a> and catch another pokemon.
  //       </h3>
  //     </>
  //   ) : (
  //     <>
  //       <h1 className={style.heading}>Yep, you're lost.</h1>
  //       <h3 className={style.intro}>
  //         Sorry, the pixels you are looking for are in another castle. But if
  //         you want to keep exploring this castle, you can go{' '}
  //         <a href="/">back to the gates</a>.
  //       </h3>
  //     </>
  //   )
  // }
---

<Layout title="404" description={site.description}>
  <main id="main" class={style.main}>
    <div class={style.title}>
      <h1 class={style.heading}>
        <span>404: Not found</span>
      </h1>
    </div>
    <div class={style.content}>
     <h1 class={style.heading}>Yep, you're lost.</h1>
    <h3 class={style.intro}>
      Sorry, the pixels you are looking for are in another castle. But if
      you want to keep exploring this castle, you can go{' '}
      <a href="/">back to the gates</a>.
    </h3>
      <a href="/"></a>
    </div>
  </main>
</Layout>
