---
import Layout from "@layouts/Layout.astro";
import site from "../config/site";
import Entry from "@components/Entry.astro";
import { getCollection } from "astro:content";
import style from "../styles/archive.module.css";
import { Image } from "astro:assets";
import coverimage from "@images/avatar4.png";
import { readingTime } from "@lib/utils";

const data1 = (await getCollection("notes"))
  .filter((note) => note.data.featured && !note.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const data2 = (await getCollection("articles"))
  .filter((article) => article.data.featured && !article.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const data3 = (await getCollection("bibliophilediaries"))
  .filter((entry) => entry.data.featured && !entry.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const data = [...data1, ...data2, ...data3];

const fdata1 = (await getCollection("notes")).filter(
  (note) => !note.data.draft,
);
const fdata2 = (await getCollection("articles")).filter(
  (article) => !article.data.draft,
);
const fdata3 = (await getCollection("bibliophilediaries")).filter(
  (entry) => !entry.data.draft,
);

const fdata = [...fdata1, ...fdata2, ...fdata3]
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6);
---

<Layout title={site.title} description={site.description}>
  <main id="main" class={style.main}>
    <div class={style.title}>
      <h1 class={style.heading}>
        <span>
          Meteoric Teachings is the personal site of <a href="/about/"
            >Alok&nbsp;Prateek</a
          >.
        </span>
      </h1>
      <div class={style.intro}>
        <p>
          I'm a multi-talented human with over 11+ years of experience in a wide
          range of design disciplines. I have designed, built and tinkered with
          digital products for a considerable time. I'm currently self-employed
          and am working with a selected freelance client base.
        </p>
      </div>
      <Image
        src={coverimage}
        alt="Cover image of Alok Prateek"
        loading="eager"
        class={style.cover}
        style="background-color: var(--input-background-color)"
      />
    </div>
    <div class={style.content}>
      <h2 class={style.subHeading}>
        <span>How can I help you?</span>
      </h2>
      <div>
        <p>
          As a freelancer, I love to work with startups, consultancies, and
          established companies. I don't put a lot of stock in job titles, but
          I've been called a product designer, experience designer, UX
          Developer, Information Architect, full-stack developer, webmaster,
          advisor, creative technologist, or by any other market-defined
          function title. I believe that extensive experience has given me
          practical skills allied with real-world pragmatism.
        </p>
        <p>
          Put simply, I'm great at making things work on the web — technically,
          aesthetically, and always rooted in what your user needs. I can help
          you with:
        </p>
        <ul style={{ marginLeft: "3ch" }}>
          <li>ideation/requirement gathering workshops</li>
          <li>brand identity and collaterals</li>
          <li>planning and development of minimum viable product (MVP)</li>
          <li>systems &amp; information architecture</li>
          <li>migration of web infra between cloud providers</li>
        </ul>
        <p>
          If you have an idea, I can surely help. Do get in touch, and we can
          connect anytime.
        </p>
        <div style={{ textAlign: "center" }}>
          <a
            href="/contact/"
            class="btn"
            style={{ fontSize: "larger", marginBottom: "4em" }}
          >
            Get in touch with me.
          </a>
        </div>
      </div>
      <h2 class={style.subHeading}>
        <span>Recent posts</span>
      </h2>
      <div class={style.gridList}>
        {
          fdata.map((node) => (
            <Entry
              title={node.data.title}
              date={node.data.date.toString()}
              path={"/" + node.collection + "/" + node.slug}
              timeToRead={readingTime(node.body)}
              excerpt={node.data.excerpt}
              tags={node.data.tags}
            />
          ))
        }
      </div>

      <h2 class={style.subHeading}>
        <span>Featured articles</span>
      </h2>
      <div class={style.gridList}>
        {
          data.map((node) => (
            <Entry
              title={node.data.title}
              date={node.data.date.toString()}
              path={"/" + node.collection + "/" + node.slug}
              timeToRead={readingTime(node.body)}
              excerpt={node.data.excerpt}
              tags={node.data.tags}
            />
          ))
        }
      </div>

      <h2 class={style.subHeading}>
        <span>Explore more on this site</span>
      </h2>
      <div>
        <ul class={`${style.gridListExpanded} ${style.navList}`}>
          <li id="articles">
            <Entry
              key="articles-home-link"
              title="Articles"
              path="/articles/"
              excerpt="Long pieces of text mostly about design and web development."
            />
          </li>
          <li id="notes">
            <Entry
              key="notes-home-link"
              title="Notes"
              path="/notes/"
              excerpt="Rants, inspiration, thoughts, and other things you should find in a blog."
            />
          </li>
          <li id="works">
            <Entry
              key="works-home-link"
              title="Works"
              path="/works/"
              excerpt="Hand-picked selection of things I've designed, illustrated, and developed."
            />
          </li>
          <li id="bibliophile-diaries">
            <Entry
              key="bibliophile-diaries-home-link"
              title="Bibliophile Diaries"
              path="/bibliophilediaries/"
              excerpt="Lessons and interesting quotes from books I've read."
            />
          </li>
          <li id="contact">
            <Entry
              key="contact-home-link"
              title="Contact"
              path="/contact/"
              excerpt="Ideal ways of sending questions, messages, and love letters to me."
            />
          </li>
          <li id="support">
            <Entry
              key="support-home-link"
              title="Show your support"
              path="/support/"
              excerpt="Buy me a coffee or maybe why not buy me a tree?"
            />
          </li>
          <li id="faqs">
            <Entry
              key="faqs-home-link"
              title="Frequently asked questions"
              path="/faqs/"
              excerpt="There’s no such thing as a dumb question…"
            />
          </li>
          <li id="topics">
            <Entry
              key="topics-home-link"
              title="All topics"
              path="/tag/"
              excerpt="Archive of all posts organized by topic."
            />
          </li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
